$accent: rgb(255, 94, 20);
$accent-op: rgba(255, 94, 20, 0.6);
$title: #251F1F;
$background: #fff;
$default: #212121;
$section: #f8f7f4;
$overlay: rgba(14, 57, 88, 0.6);
$footer: #271d18;
$overlay-op: rgba(14, 57, 88, 0.3);
$image: rgba(156, 132, 106, 0.5);
$focus: rgb(201, 161, 69);